# Django Settings
SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

# Database Settings
# For Docker, use /app/data/db.sqlite3
DB_PATH=/app/data/db.sqlite3

# Docker Settings
WEB_PORT=8004
CONTAINER_NAME=marina_web
IMAGE_NAME=marina_image
DB_DIR=./data
