# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
python_portable/

# Django
db.sqlite3
db.sqlite3-journal
*.sqlite3
data/
media/
staticfiles/
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
